In [66]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB ,MultinomialNB ,BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.neighbors import KNeighborsClassifier

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/nursnaaz/DataSciencewithPractical/main/Test_05_15/fraud-detection.csv')

In [14]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0

In [15]:
df.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
100160,10,CASH_IN,61054.02,C1657461053,11600000.0,11700000.0,C622723232,1054868.85,993814.83,0
100161,10,CASH_IN,347608.07,C199435243,11700000.0,12000000.0,C1029211742,1814256.11,3246825.50,0
100162,10,CASH_IN,68846.64,C975194954,12000000.0,12100000.0,C355970563,1622436.37,2287253.07,0
100163,10,CASH_IN,48078.78,C1122979545,12100000.0,12200000.0,C589884531,410069.03,161779.60,0
100164,10,CASH_IN,74136.40,C1985504392,12200000.0,12200000.0,C182799539,2559340.41,2951740.12,0

In [16]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
count,100165.000000,1.001650e+05,1.001650e+05,1.001650e+05,1.001650e+05,1.001650e+05,100165.000000
mean,8.502112,1.736458e+05,8.801756e+05,8.965348e+05,8.810839e+05,1.184639e+06,0.001158
std,1.825055,3.442910e+05,2.676095e+06,2.714232e+06,2.402387e+06,2.802252e+06,0.034011
min,1.000000,3.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,8.000000,9.970160e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
50%,9.000000,5.285289e+04,2.008500e+04,0.000000e+00,2.091500e+04,5.048120e+04,0.000000
75%,10.000000,2.119434e+05,1.910560e+05,2.154246e+05,5.891912e+05,1.061043e+06,0.000000
max,10.000000,1.000000e+07,3.380000e+07,3.400000e+07,3.400000e+07,3.890000e+07,1.000000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100165 entries, 0 to 100164
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            100165 non-null  int64
 1   type            100165 non-null  object
 2   amount          100165 non-null  float64
 3   nameOrig        100165 non-null  object
 4   oldbalanceOrg   100165 non-null  float64
 5   newbalanceOrig  100165 non-null  float64
 6   nameDest        100165 non-null  object
 7   oldbalanceDest  100165 non-null  float64
 8   newbalanceDest  100165 non-null  float64
 9   isFraud         100165 non-null  int64
dtypes: float64(5), int64(2), object(3)
memory usage: 7.6+ MB

In [18]:
df.value_counts()

step  type      amount      nameOrig     oldbalanceOrg  newbalanceOrig  nameDest     oldbalanceDest  newbalanceDest  isFraud
1     CASH_IN   270.78      C619985571   4184966.65     4185237.43      C875917495   3019.00         0.00            0          1
9     PAYMENT   19450.92    C1561188880  109501.00      90050.08        M397555045   0.00            0.00            0          1
                19536.57    C2136168586  1316.00        0.00            M320722590   0.00            0.00            0          1
                19528.64    C1944788699  305121.00      285592.36       M28760050    0.00            0.00            0          1
                19527.87    C2136619690  871165.04      851637.17       M1627194638  0.00            0.00            0          1
                                                                                                                               ..
8     TRANSFER  137852.29   C705464869   0.00           0.00            C1052117080  209749.88       347602.17       0          1
                136872.89   C494374234   2280771.02     2143898.13      C1747713912  64474.52        353616.98       0          1
                135298.90   C656568800   0.00           0.00            C1938348365  714399.19       854916.91       0          1
                133805.02   C2065151418  0.00           0.00            C1359484306  4792364.46      7364724.84      0          1
10    TRANSFER  6419835.27  C890128330   31784.00       0.00            C1192472312  0.00            6691744.85      0          1
Length: 100165, dtype: int64

In [19]:
df.shape

(100165, 10)

In [20]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud'],
      dtype='object')

In [21]:
X =df.drop('isFraud',1)

In [22]:
X.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest'],
      dtype='object')

In [51]:
y = df['isFraud']

In [52]:
y.tail()

100160    0
100161    0
100162    0
100163    0
100164    0
Name: isFraud, dtype: int64

In [53]:
y.head()

0    0
1    0
2    1
3    1
4    0
Name: isFraud, dtype: int64

In [54]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [55]:
X_train.shape

(70115, 9)

In [56]:
X_test.shape

(30050, 9)

In [57]:
y_train.shape

(70115,)

In [58]:
y_test.shape

(30050,)

In [59]:
model =GaussianNB()

In [60]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud'],
      dtype='object')

In [32]:
print(X)

        step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0          1   PAYMENT    9839.64  C1231006815       170136.0       160296.36
1          1   PAYMENT    1864.28  C1666544295        21249.0        19384.72
2          1  TRANSFER     181.00  C1305486145          181.0            0.00
3          1  CASH_OUT     181.00   C840083671          181.0            0.00
4          1   PAYMENT   11668.14  C2048537720        41554.0        29885.86
...      ...       ...        ...          ...            ...             ...
100160    10   CASH_IN   61054.02  C1657461053     11600000.0     11700000.00
100161    10   CASH_IN  347608.07   C199435243     11700000.0     12000000.00
100162    10   CASH_IN   68846.64   C975194954     12000000.0     12100000.00
100163    10   CASH_IN   48078.78  C1122979545     12100000.0     12200000.00
100164    10   CASH_IN   74136.40  C1985504392     12200000.0     12200000.00

           nameDest  oldbalanceDest  newbalanceDest
0       M1979787155            0.00            0.00
1       M2044282225            0.00            0.00
2        C553264065            0.00            0.00
3         C38997010        21182.00            0.00
4       M1230701703            0.00            0.00
...             ...             ...             ...
100160   C622723232      1054868.85       993814.83
100161  C1029211742      1814256.11      3246825.50
100162   C355970563      1622436.37      2287253.07
100163   C589884531       410069.03       161779.60
100164   C182799539      2559340.41      2951740.12

[100165 rows x 9 columns]

In [61]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0

In [62]:
df['isFraud'].value_counts()

0    100049
1       116
Name: isFraud, dtype: int64

In [35]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud'],
      dtype='object')

In [36]:
df['type'].value_counts()

PAYMENT     39552
CASH_OUT    30772
CASH_IN     20248
TRANSFER     8603
DEBIT         990
Name: type, dtype: int64

In [37]:
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [38]:
X.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest'],
      dtype='object')

In [43]:
print(y)

0         0
1         0
2         1
3         1
4         0
         ..
100160    0
100161    0
100162    0
100163    0
100164    0
Name: isFraud, Length: 100165, dtype: int64

In [44]:
print(X)

        step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0          1   PAYMENT    9839.64  C1231006815       170136.0       160296.36
1          1   PAYMENT    1864.28  C1666544295        21249.0        19384.72
2          1  TRANSFER     181.00  C1305486145          181.0            0.00
3          1  CASH_OUT     181.00   C840083671          181.0            0.00
4          1   PAYMENT   11668.14  C2048537720        41554.0        29885.86
...      ...       ...        ...          ...            ...             ...
100160    10   CASH_IN   61054.02  C1657461053     11600000.0     11700000.00
100161    10   CASH_IN  347608.07   C199435243     11700000.0     12000000.00
100162    10   CASH_IN   68846.64   C975194954     12000000.0     12100000.00
100163    10   CASH_IN   48078.78  C1122979545     12100000.0     12200000.00
100164    10   CASH_IN   74136.40  C1985504392     12200000.0     12200000.00

           nameDest  oldbalanceDest  newbalanceDest
0       M1979787155            0.00            0.00
1       M2044282225            0.00            0.00
2        C553264065            0.00            0.00
3         C38997010        21182.00            0.00
4       M1230701703            0.00            0.00
...             ...             ...             ...
100160   C622723232      1054868.85       993814.83
100161  C1029211742      1814256.11      3246825.50
100162   C355970563      1622436.37      2287253.07
100163   C589884531       410069.03       161779.60
100164   C182799539      2559340.41      2951740.12

[100165 rows x 9 columns]

In [63]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [67]:
model1 = GaussianNB()
knn1 = KNeighborsClassifier(n_neighbors=5)

In [68]:
model1.fit(X_train,y_train)
knn1.fit(X_train,y_train)

ValueError: could not convert string to float: 'CASH_IN'